/*
- Contents of LastName_Mod4_2.css 
- Apply a CSS grid with three columns for the 3 side-by-side divs (see the above resources section for help/assistance) 
- Give the image-gallery div a margin-top of 10% 
- Center the h1 text 
- Center the h3 text (title for each of the image gallery items) 
- Apply text-align center to the figure tag (this will basically center the image in the div) 
- Apply a font style of italic to the figcaption text and set the font-size to .75em 
- Using rgba,add a different color to the h1, h3, and figcaption tags. optional.
*/

#image-gallery {
    margin-top: 10%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

h1, h3, figure {
    text-align: center;
}

figcaption {
    font-style: italic;
    font-size: .75em;
    color: rgba(60, 60, 60, 0.8);
}

h1 {
    color: rgba(79, 54, 116, 1);
}

h3 {
    color: rgba(214, 168, 0, 1);
}

.footer {
    width: 100%;
    margin-top: 60px;
    margin-bottom: 20px;
    text-align: right;
}