/*
    Breutzmann, Robert
    CSD 340 - Web Development with HTML and CSS
    Assignment 3.2
    Due Date: January 25th, 2026
*/

#image-gallery {
    margin-top: 10%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

h1, h3, figure {
    text-align: center;
}

figcaption {
    font-style: italic;
    font-size: .75em;
    color: rgba(60, 60, 60, 0.8);
}

h1 {
    color: rgba(79, 54, 116, 1);
}

h3 {
    color: rgba(214, 168, 0, 1);
}

.footer {
    width: 100%;
    margin-top: 60px;
    margin-bottom: 20px;
    text-align: right;
}