/*
    Breutzmann, Robert
    CSD 340 - Web Development with HTML and CSS
    Assignment 2.2
    Due Date: January 18th, 2026

    Assignment Instructions Step 2 - CSS File
        <LastName_Mod2_2>.css 
            Set the HTML and body font size to 16px 
            Give the paragraph text a weight of 400 
            Give the h1 a weight of 700 
            Give the h2 a weight of 500 
            Give the text in the paragraphs a line-height of 1.4em 
            Make the h1 uppercase and center the text 
            Give the h2 alignment to the left,  and a top padding of 15px 
            Give the address a text alignment of center 
            Make the website URL bold with a font-size of 1.25em, font color of #4F3674, and remove the underline 
            Apply rules to the hover and visited pseudo classes for the website link 
                Hint: see page 291 of the course’s textbook for assistance on pseudo classes
            When a user hovers over the website link, apply an underline to the text and give it a background color of #D6A800;
            For the pseudo class “visited” select a styling of your choosing 
            Apply a font-style of italic to the CSS sentence class 
            Give the CSS “intro” class a text-indent of 2em Hint: this style only applies to the first paragraph
*/